.md_icon {
  margin-left: 5px;
}
.cbtn:hover {
  font-weight: 500;
}
.footer-39201 h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.location a:hover {
  color: blueviolet !important;
}
.footer-39201 .nav-links li {
  display: block;
}
.footer-39201 .nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-39201 .nav-links li a:hover{
   color: #a442ff !important;
  font-weight: 600 !important;
  border-bottom: 2px solid blueviolet;
}

.contect-div .btn-jion {
  width: 100px;
  height: 45px;
  background-color: blueviolet;
  border-color: blueviolet;
  border-radius: 20px;
  color: #fff;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid blueviolet;
}
.contect-div .btn-jion:hover {
  background-color: #fff;
  color: blueviolet;
  border-color: blueviolet;
}

.abs h3 {
  margin-left: -3px;
}

/* 2nd footer   */

.fot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-left: 50px; */
}

.fot a {
  text-decoration: none;
  /* color: gray; */
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.fot h4 {
  color: #15284b;
}

.conicon {
  font-size: 25px;
  color: #fff;
  transition: 0.3s;
}

.conicon:hover {
  color: blueviolet;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
    height: 25px;
}
.logofot {
  width: 120px;
  
}

.loc p{
  background-color: blueviolet;
  border-radius: 50%;
  border: 1px solid gray;
  padding: 5px 8px;
  font-size: 13px;
}